In [1]:
import pandas as pd

# GBM

In [2]:
df_ko = pd.read_csv('./GBM/Pseudo_GBM_KO_to_UniRef90.csv', sep = '\t', header=None)
df_ko.head()

        0                1
0  K00492  UniRef90_I7ASS7

In [3]:
df_tigrfam = pd.read_csv('./GBM/Pseudo_GBM_TIGRFAM_to_UniRef90.csv', sep = '\t', header=None)
df_tigrfam.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,TIGR00078,UniRef90_P30011,UniRef90_P30012,UniRef90_P9WJJ7,UniRef90_P39666,UniRef90_P74301,UniRef90_P46714,UniRef90_P30819,UniRef90_O25909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TIGR00541,UniRef90_P00862,UniRef90_P0C2E5,UniRef90_Q0TU55,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TIGR00550,UniRef90_Q9KWZ1,UniRef90_P11458,UniRef90_Q9X1X7,UniRef90_Q9PC58,UniRef90_Q72N73,UniRef90_P74578,UniRef90_B0JLU4,UniRef90_B2IYC1,UniRef90_B3QM61,...,UniRef90_A4G431,UniRef90_B5EC56,UniRef90_B8I2A5,UniRef90_C1F557,UniRef90_C6DCF2,UniRef90_A4XKC7,UniRef90_A6TJ92,NaN,NaN,NaN
3,TIGR00551,UniRef90_P38032,UniRef90_P10902,UniRef90_Q8YXJ6,UniRef90_Q87D19,UniRef90_P74562,UniRef90_Q9JSX4,UniRef90_Q929Z2,UniRef90_P9WJJ8,UniRef90_Q9K107,...,UniRef90_Q8U8J4,UniRef90_Q92R32,UniRef90_Q8Y5N4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TIGR00552,UniRef90_P08164,UniRef90_P18843,UniRef90_Q03638,UniRef90_Q81RP3,UniRef90_A4W3A3,UniRef90_Q83HW8,UniRef90_A7H439,UniRef90_A4VX00,UniRef90_C0MGX1,...,UniRef90_B8DCC1,UniRef90_Q1BQX0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_eggnog = pd.read_csv('./GBM/Pseudo_GBM_EGGNOG_to_UniRef90.csv', sep = '\t', header=None)
df_eggnog.head()

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,bactNOG00014,UniRef90_Q8ZNF3,UniRef90_Q795J3,UniRef90_A9R095,UniRef90_B4SYW9,UniRef90_B4TPI0,UniRef90_B5BCP8,UniRef90_B5R270,UniRef90_Q2NRV5,UniRef90_Q3KCC3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bactNOG00441,UniRef90_P30011,UniRef90_O25909,UniRef90_P46714,UniRef90_Q57278,UniRef90_Q9CLU4,UniRef90_A0JY17,UniRef90_A0PP12,UniRef90_A1ALR4,UniRef90_A1AVE5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bactNOG00852,UniRef90_P46329,UniRef90_P39616,UniRef90_Q9I6C8,UniRef90_A9MCY4,UniRef90_Q65DP0,UniRef90_Q8EB51,UniRef90_Q8F7S5,UniRef90_Q55811,UniRef90_C7NI02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bactNOG00947,UniRef90_P9WQD1,UniRef90_A1JIK3,UniRef90_A1UWN5,UniRef90_A1WY97,UniRef90_A3D3E8,UniRef90_A4VKA0,UniRef90_A4YK73,UniRef90_B0TPY4,UniRef90_B2IB12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bactNOG01259,UniRef90_O06961,UniRef90_P37877,UniRef90_Q9WYB1,UniRef90_P77845,UniRef90_P71104,UniRef90_A1T2Y9,UniRef90_A4VIM1,UniRef90_A6QHP5,UniRef90_A7FW24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Pesudo_map = pd.concat([df_ko, df_tigrfam, df_eggnog])

# Bacterial annotation of the 2 Missing reactions of GMM can not be found on Uniprot, so are TIGR01269 and TIGR03812 in GBM, we therefore exclude them from the pesudo mapping file

In [6]:
Pesudo_map = Pesudo_map[~Pesudo_map[0].str.contains('TIGR01269|TIGR03812')]

In [7]:
Pesudo_map.to_csv('./Pesudo_map_eggnong_ko_tigrfam_uniref90.txt', sep='\t',index=False, header=False)