In [1]:
import pandas as pd

# GBM

In [2]:
df_ko = pd.read_csv('./GBM/Pseudo_GBM_KO_to_UniRef90.csv', sep = '\t', header=None)
df_ko.head()

        0                1
0  K00492  UniRef90_I7ASS7

In [3]:
df_tigrfam = pd.read_csv('./GBM/Pseudo_GBM_TIGRFAM_to_UniRef90.csv', sep = '\t', header=None)
df_tigrfam.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,TIGR00078,UniRef90_P30011,UniRef90_P30012,UniRef90_P9WJJ7,UniRef90_P39666,UniRef90_P74301,UniRef90_P46714,UniRef90_P30819,UniRef90_O25909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TIGR00541,UniRef90_P00862,UniRef90_P0C2E5,UniRef90_Q0TU55,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TIGR00550,UniRef90_Q9KWZ1,UniRef90_P11458,UniRef90_Q9X1X7,UniRef90_Q9PC58,UniRef90_Q72N73,UniRef90_P74578,UniRef90_B0JLU4,UniRef90_B2IYC1,UniRef90_B3QM61,...,UniRef90_A4G431,UniRef90_B5EC56,UniRef90_B8I2A5,UniRef90_C1F557,UniRef90_C6DCF2,UniRef90_A4XKC7,UniRef90_A6TJ92,NaN,NaN,NaN
3,TIGR00551,UniRef90_P38032,UniRef90_P10902,UniRef90_Q8YXJ6,UniRef90_Q87D19,UniRef90_P74562,UniRef90_Q9JSX4,UniRef90_Q929Z2,UniRef90_P9WJJ8,UniRef90_Q9K107,...,UniRef90_Q8U8J4,UniRef90_Q92R32,UniRef90_Q8Y5N4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TIGR00552,UniRef90_P08164,UniRef90_P18843,UniRef90_Q03638,UniRef90_Q81RP3,UniRef90_A4W3A3,UniRef90_Q83HW8,UniRef90_A7H439,UniRef90_A4VX00,UniRef90_C0MGX1,...,UniRef90_B8DCC1,UniRef90_Q1BQX0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_eggnog = pd.read_csv('./GBM/Pseudo_GBM_EGGNOG_to_UniRef90.csv', sep = '\t', header=None)
df_eggnog.head()

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,bactNOG00014,UniRef90_Q8ZNF3,UniRef90_Q795J3,UniRef90_A9R095,UniRef90_B4SYW9,UniRef90_B4TPI0,UniRef90_B5BCP8,UniRef90_B5R270,UniRef90_Q2NRV5,UniRef90_Q3KCC3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bactNOG00441,UniRef90_P30011,UniRef90_O25909,UniRef90_P46714,UniRef90_Q57278,UniRef90_Q9CLU4,UniRef90_A0JY17,UniRef90_A0PP12,UniRef90_A1ALR4,UniRef90_A1AVE5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bactNOG00852,UniRef90_P46329,UniRef90_P39616,UniRef90_Q9I6C8,UniRef90_A9MCY4,UniRef90_Q65DP0,UniRef90_Q8EB51,UniRef90_Q8F7S5,UniRef90_Q55811,UniRef90_C7NI02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bactNOG00947,UniRef90_P9WQD1,UniRef90_A1JIK3,UniRef90_A1UWN5,UniRef90_A1WY97,UniRef90_A3D3E8,UniRef90_A4VKA0,UniRef90_A4YK73,UniRef90_B0TPY4,UniRef90_B2IB12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bactNOG01259,UniRef90_O06961,UniRef90_P37877,UniRef90_Q9WYB1,UniRef90_P77845,UniRef90_P71104,UniRef90_A1T2Y9,UniRef90_A4VIM1,UniRef90_A6QHP5,UniRef90_A7FW24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Pesudo_map = pd.concat([df_ko, df_tigrfam, df_eggnog])

# Bacterial annotation of the 2 Missing reactions of GMM can not be found on Uniprot, so are TIGR01269 and TIGR03812 in GBM, we therefore exclude them from the pesudo mapping file

In [6]:
Pesudo_map = Pesudo_map[~Pesudo_map[0].str.contains('TIGR01269|TIGR03812')]

In [7]:
Pesudo_map.to_csv('./Pesudo_map_eggnong_ko_tigrfam_uniref90.txt', sep='\t',index=False, header=False)

# Combine current KO-uniref90 mapping file, Eggnog-uniref90 mapping file and Pesudo mappig file

In [8]:
## Set names parameter when row lengths are not equal across the df
current_eggnog_uniref_map = pd.read_csv('./map_eggnog_uniref90.txt', sep='\t', header=None, names=range(1086))
current_ko_uniref_map = pd.read_csv('./map_ko_uniref90.txt', sep='\t', header=None, names = range(453))

GBM_map = pd.concat([current_eggnog_uniref_map, current_ko_uniref_map, Pesudo_map])

/ceph/home/bangzhuo.tong/.conda/envs/R.4.2.2/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3505: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024,1025,1026,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1037,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1075,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
GBM_map.shape

(433780, 1086)

In [10]:
GBM_map.head()

,0,1,2,3,4,5,6,7,8,9,...,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085
0,COG0001,UniRef90_A0A075QXK1,UniRef90_A0A075R2Z4,UniRef90_A0A075R537,UniRef90_A0A077D605,UniRef90_A0A077JC19,UniRef90_A0A095UB72,UniRef90_A0A096EYB1,UniRef90_A0A096P9C7,UniRef90_A0A096PA50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COG0002,UniRef90_A0A031WFJ7,UniRef90_A0A060DGG6,UniRef90_A0A060UQ18,UniRef90_A0A075R9Q1,UniRef90_A0A088ASG1,UniRef90_A0A0A8PVU3,UniRef90_A0A0B6D0V0,UniRef90_A0A0D1LVL6,UniRef90_A0AJ40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COG0003,UniRef90_A0A060UNQ5,UniRef90_A0A087ZY48,UniRef90_A0A090M8H3,UniRef90_A0A090N401,UniRef90_A0A0A8RV42,UniRef90_A0BZ55,UniRef90_A0JRE0,UniRef90_A0LWG3,UniRef90_A0LWG4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COG0004,UniRef90_A0A059ZVI4,UniRef90_A0A060URC3,UniRef90_A0A088AMG9,UniRef90_A0A088E6Q7,UniRef90_A0A090M6A4,UniRef90_A0A096P9V8,UniRef90_A0A096PA30,UniRef90_A0B5B2,UniRef90_A0BE57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COG0005,UniRef90_A0A059ZXC7,UniRef90_A0A060US02,UniRef90_A0A080WW79,UniRef90_A0A088A605,UniRef90_A0A088ARK6,UniRef90_A0A088E3H8,UniRef90_A0A098CT38,UniRef90_A0A0A0BET0,UniRef90_A0A0B7IQ22,...,UniRef90_U5WSB4,UniRef90_V6TL42,UniRef90_V9H3N5,UniRef90_V9HGY8,UniRef90_W0DYX4,UniRef90_W4Y044,UniRef90_W4Y1R3,UniRef90_W4Z842,UniRef90_W4Z843,UniRef90_W5JNR5

In [11]:
## Save the complete data base into file
GBM_map.to_csv('./GBMentry_uniref90_mapping.txt', sep='\t',index=False, header=False)